html {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
}

#main {
    margin: auto;
    text-align: center;
    width: 50%;
}

#image {
    max-width: 100%;
    display: block;
}

ul, ol {
    text-align: left;
    line-height: 2;
}